@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #0ea5e9;
    --color-secondary: #e0f2fe;
  }

  html[data-theme="gray"] {
    --color-primary: #909090;
    --color-secondary: #ebebebeb;
  }

  html[data-theme="pink"] {
    --color-primary: #f783ac;
    --color-secondary: #ffdeeb;
  }
}
